PRIVATE_KEY=your_funded_coston2_private_key
INITIAL_OWNER=your_wallet_address
FLARE_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
EXPLORER_API_URL=https://coston2-explorer.flare.network/api
GOVERNANCE_SIGNERS=0xSigner1,0xSigner2,0xSigner3

POLICY_REGISTRY_ADDR=
AUDIT_LOG_ADDR=
GOVERNANCE_MULTISIG_ADDR=
MULTISIG_WALLET_ADDR=
INSTRUCTION_SENDER_ADDR=
EXTENSION_ID=

CONFIG_PORT=6660
SIGN_PORT=6661
EXTENSION_PORT=6662
MODE=1
